nav, header, footer {
  display: block;
}

html{
  font-family: monospace;
}

body{

  line-height: 1;
  margin: 0;
}

/* ################# nav bar ################# */

nav {
  width: 100%;
  margin: 0;
  background-color: #eee;

}
nav ul {
  background-color: #eee;
  overflow: hidden;
  margin: 0;

}

nav ul li {
  list-style: none;
  

}


nav ul li a{
  font-size: 20px;
  display: block;
   text-decoration: none;

   float: left;
   padding: 30px;

}
.nav-right{

  list-style: none;
  float: right;
   
   padding: 14px;
}



.container {
  text-align: center;
}


.container h2 {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
}

.btn{
  border: none;
background: black;
font-family: monospace;
color: #ffffff !important;
font-weight: 100;
padding: 20px;

border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.btn:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

h2{
  font-size: 40px;
}
